<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2018/ -->
<!-- Meeting location: https://meet.jit.si/snowdrift -->

# Meeting — January 23, 2019

Attendees: wolftune, msiep, smichel17, Salt

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (chreekat): Review/capture ops priorities [chreekat, in his own list]

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (chreekat): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Tech volunteers and framework etc
- NEXT STEP (chreekat): Decide whether we're open to the option of moving off of haskell for our web framework

## LFNW + beta milestone prioritizing/scheduling
- NEXT STEP (Salt, wolftune): Schedule calendar/working time for CFP meeting 4pm friday 1/25
- NEXT STEP (Salt, wolftune): Submit CFPs by January 31st <https://git.snowdrift.coop/sd/outreach/issues/50>
- NEXT STEP (smichel17): Look through issues, tag backend ones <https://git.snowdrift.coop/sd/governance/issues/47>

## New meeting time?
- NEXT STEP (Salt especially, but everyone): Update weekly availability, see <https://community.snowdrift.coop/t/please-update-your-availability-for-meeting-times-etc/1082/2>
- NEXT STEP (aryeah, fr33domlover, mray): Add availability

## Use of GitLab kanban boards (+ track civi todos there instead of this pad?)
- NEXT STEP (Salt, msiep, smichel17, h30, all…): Start using the boards to pick your own assignments, mark To Do and Doing appropriately, capture any missing issues

## design progress, pace
- NEXT STEP: h30 does his documentation
- NEXT STEP: wolftune (and anyone else) does proactive recruiting of developers (perhaps check in with previous contributors)
- NEXT STEP (wolftune): blog about development volunteer needs / positions etc.
```

## Metrics

Discourse (over past week): <!-- stats from https://community.snowdrift.coop/admin?period=weekly -->

- Signups: 0 -> 2
- New Topics: 2 -> 7
- Posts: 19 -> 31

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## Winter Lodge
- smcihel17: I just wanted to point out that this category exists, it's a place exclusive to Trust Level 3+, for off-topic, less-moderated discussion between the longstanding-community. I made the first post there recently, wanted to encourage others to post more
- wolftune: is there any sense to open up the discussion to lower trust levels?
- Salt: The point of the forums is *not* to be a general hang-out space, so I think there's good reason to restrict the hang-out portion to TL3

## Coworking time
- wolftune: we've had the most activity when we've had coworking time
- wolftune: Not sure if I have any particular proposals (more check-ins, announcing plans?), but I think it's a big part of making progress
- msiep: +1, the most helpful part is committing to something, having someone other than me know whether I actually did it. Don't need to discuss much, just check in that I'm doing it
- wolftune: Charles and I have been checking in more, he talked about getting together in person with coworking partners, but just doing their own stuff separately in the same room
- msiep: Just like we're having this regular meeting, we could have a weekly working time..
- smichel17: I'd be up for that.
- Salt: I think there's a discourse thread about this?
- Salt: Did we ever get this installed? https://community.snowdrift.coop/t/should-we-add-the-new-calendar-plugin/1047
- Wolftune: Yes, but we don't know what to do with it yet
- Tentative proposal: Monday/Wednesday from 1:00-2:00 PST
- smichel17: Everyone should try to check in *and stay to work* --- hang around even if you're not doing snowdrift stuff (eg, because freelance work takes priority).

<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->