<!-- Previous week's meeting notes: https://git.snowdrift.coop/sd/wiki/tree/master/resources/meetings/2018 -->

# Meeting — July 10, 2018

Attendees: fr33domlover, MSiep, Salt, smichel17, wolftune

<!-- Add agenda items below -->

## local groups in Discourse
- wolftune: We could use tags on posts within the announce category to replace the portland list.
- wolftune: This was enough overlap with your (Salt)'s area that I wanted to check with you first, whether that sounds reasonable.
- Salt: It does.

## CLS / OSCON
- Salt: I plan on being at cls and oscon, but not at talks.
- wolftune: I have an expo pass, will be in the expo hall.
- <More logistics>

## Design check-in
- <discussion about what we should focus on, too many things brought up to take good notes>

----

## Carry-overs

<!-- Review status of carry-overs -->

<!-- Decide where to capture outstanding tasks (new & carryover) -->

```
## social.coop
- NEXT STEP: https://git.snowdrift.coop/sd/outreach/issues/31

## Board priorities
- Tracked at: https://git.snowdrift.coop/sd/governance/issues/32

## engaging on Discourse (outreach repo; Salt, but not today)
- NEXT STEP: write intros: https://git.snowdrift.coop/sd/outreach/issues/14
- NEXT STEP: post a discourse announcement about meetings status (including inviting people who aren't core contributors/team)… [wolftune/Salt]
- NEXT STEP: Salt opens Discourse topic on planning useful pinned topics (fpbot, etc)
- NEXT STEP: https://git.snowdrift.coop/sd/outreach/issues/34
- NEXT STEP: add pinned posts to welcome that are the guides to Discourse and community guideline links, FAQ…
- NEXT STEP: <https://git.snowdrift.coop/sd/outreach/issues/20>
- NEXT STEP: <https://git.snowdrift.coop/sd/outreach/issues/8>
```

<!-- Capture TODOs -->

<!-- Add meeting notes to wiki -->