<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2018/ -->

# Meeting — October 16, 2018

Attendees: msiep, Salt, smichel17, wolftune

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (Bryan): Review/capture ops priorities [chreekat, in his own list]

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (Bryan): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Governance overhaul / Volunteer recruitment
- NEXT STEP (wolftune): posts on discourse about things he has personal notes on governance roles.
- NEXT STEP (Bryan): Decide whether we want to open up option of moving off of haskell for our web framework.
- NEXT STEP (Aaron): Include this "call for frontend/backend split help" in discourse announce [added to draft: https://community.snowdrift.coop/t/please-join-us-on-the-snowdrift-community-forum/567]

## Project outreach, Kodi etc
- NEXT STEP (Salt): Set up an hour to co-work with Michael
- NEXT STEP (Michael): work on feedback form <https://git.snowdrift.coop/sd/outreach/issues/41>

## CFPs
- NEXT STEP (Salt): Prepare CFP stuff, get feedback, check in at future meetings

## Governance Overhaul / Volunteer Recruitment
- NEXT STEP (wolftune): co-working to create a more complete list of roles/titles we want (capture wolftune's notes in better form)

## Private team contact info
- NEXT STEP (Salt): Spend an hour figuring out the right way to do this
- NEXT STEP (wolftune/smichel17): Remind Salt about this^ over the weekend
```

## Metrics

Discourse (over past week):

- Signups: 0
- New Topics: 3
- Posts: 15

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## https://community.snowdrift.coop/t/reorder-the-categories-on-the-front-page/1002/5
- NEXT STEP: Add https://meta.discourse.org/t/force-mobile-homepage/95705 theme to discourse <https://git.snowdrift.coop/sd/ops/issues/38>

## Terms for *projects*; Diversity statement (and CoC etc), relation to ToS
- wolftune: I've reworked the entire code of conduct, honor-users/honor-projects etc, calling it CoC 2.0, a whole new set of documents.
- wolftune: 3 main documents: CoC, an honor pledge with all the rules we'll enforce; Values, including diversity statement; and Conduct-enforcement, how we handle conduct violations.
- Salt: What about the Terms of Service?
- wolftune: They're also done, have some boilerplate (eg, no harassing/abusing, nothing subtle) and a link to the CoC.
- wolftune: I'm happy with how this all worked out, but I'd still like to get outside feedback (from team members first)
- NEXT STEP (): Find places to add mimi/eunice comics that relate to conduct/honor <https://git.snowdrift.coop/sd/outreach/issues/45>
- NEXT STEP (): Make sure conduct-enforcement covers everything it needs to cover (but avoid perfection-seeking). Related to getting feedback from others. Draft: <https://community.snowdrift.coop/t/improving-and-clarifying-our-conduct-enforcement-procedures/1053>
- NEXT STEP (): Tension around wiki css not encouraging people to read (post on discourse in #clearing-the-path:design) https://community.snowdrift.coop/t/css-concerns-for-the-wiki/1055
- NEXT STEP (): Wolftune has a bunch of notes on additional honor-user / communication ideals stuff (someday-maybe). https://git.snowdrift.coop/sd/outreach/issues/47
- NEXT STEP (): Deal with overlap/duplication between wiki and forum docs: https://git.snowdrift.coop/sd/outreach/issues/46
- NEXT STEP (): Blog post https://blog.snowdrift.coop/ghost/#/editor/5bc65abb469e4600012c743d/

## Design progress plans
- wolftune: I know there's some design work able to be done that will push things forward, just want to get everyone on the same page
- michael: I'm back, but not re-oriented yet.
- wolftune: Besides the home page being implemented, the big tension I sense is clearing the path for people coming to the site, seeing the list of projects, and pledging to snowdrift.coop.
- michael: What about meeting with Salt for working out how to get feedback on projects?
- wolftune: That's also super valuable, but is sometimes blocked by Salt's availability
- NEXT STEP (msiep): Look through gitlab issues, do some grooming/organizing if you want.

<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->