# Meeting — April 17, 2018

Attendees: iko, msiep, salt, smichel17, wolftune, athan, fr33domlover

<!-- Add agenda items below -->

# Outreach meeting / Potential Partner Projects / Discourse 
- NEXT STEP: Have one right after this

# GitLab issues
- wolftune: I've been using gitlab issues more, even for just tasks for myself, encourage others to do the same
https://community.snowdrift.coop/t/gitlab-tools-labels-kanban-board-milestones/712
- NEXT STEP: chime in on topic if opinions are had
- NEXT STEP: develop process for grooming / regular (weekly?) review of GitLab issues etc., assigned: wolftune

# LFNW
- athan and Salt are going
- <brief logistics check-in>
- Salt: Are promotional materials up to date?
- wolftune: They're good enough, updating not high priority
- NEXT STEP: wolftune gets Athan stuff

# Volunteer time commitements, expectations, checking-in
- wolftune: there's a tension around us all being volunteers, so it's difficult to "pressure" people to spend time on the project, but also some amount of bugging people can be helpful. 
- NEXT STEP: wolftune makes an etherpad for tracking people's hopeful-commitments
 
# Inviting volunteers to meeting
e.g. Jake
- NEXT STEP: sure!

# Discourse admin stickies
- fpbot
- NEXT STEP: Salt opens Discourse topic on planning useful pinned topics


# Carry-overs

### Chreekat availability / Jazzy's departure / Road ahead
- NEXT STEP: n/a

### Trusting people to follow categories on Discourse
- NEXT STEP: send mailing list announcement mentioning team category on discourse

### Tracking concerns that don't have clear next-steps yet
- NEXT STEP: make Discourse tag
- Assigned: wolftune, smichel

### Team use of Discourse, team introductions, welcome guides
- NEXT STEP: capture all the steps below as outreach issues
- NEXT STEP: team members post an intro about themselves in intro thread
- NEXT STEP: make a pinned post encouraging people to introduce themselves (some guidance about what sorts of things to mention)
- NEXT STEP: add pinned posts to welcome that are the guides to Discourse and community guideline links, FAQ…
- NEXT STEP: <https://community.snowdrift.coop/t/draft-please-join-us-on-the-snowdrift-community-forum/567>
- NEXT STEP: <https://community.snowdrift.coop/t/draft-welcome-to-the-snowdrift-coop-community/568>